<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= title %></h1>

        <% if (errors.length > 0) { %> Errors (<%= errors.length %>):

        <ul>
          <% for (let error of errors) { %>
          <li>
            <%= error %>

            <form method="POST" action="/users/clearError">
              <input
                id="user"
                type="hidden"
                name="error"
                value="<%= error %>"
              />
              <button type="submit">OK</button>
            </form>
          </li>
          <% } %>
        </ul>

        <% } %> <% if (users.length > 0) { %> Users (<%= users.length %>):

        <ul>
          <% for (let user of users) { %>
          <li><%= user %></li>
          <% } %>
        </ul>

        <% } %> Add a user:<br />
        <form method="POST" action="/users/addUser">
          <label for="user"
            >User <input id="user" type="text" name="user"
          /></label>
          <button type="submit">Add</button>
        </form>

        Delete a user:<br />
        <form method="POST" action="/users/removeUser">
          <label for="user"
            >User <input id="user" type="text" name="user"
          /></label>
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    <div class="container"></div>
  </body>
</html>
